.button{
    background-color: aqua;
    width: 200px;
    height: 30px;
    border-radius: 55px;

}
.app{
    align-content: center;
}
.sign{
    width: 350px;
    height: 420px;
    align-content: center;
    background-color: #dcdfe5; 
    margin-left: 450px;
    margin-top: 20px;
    margin-right: 
   
}
.text{
    margin-right: 145px;

}
.text1{
    margin-right: 75px;
}
.text2{
    margin-right: 160px;

}
.box{
    width: 200px;
    height: 25px;
}